body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Verdana, sans-serif;
  }

  /* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #9b9b84;
    color: white;
}

.header img {
    height: 5vh;
    width: auto;
}

.header-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

/* NAVIGATION BAR */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1d0bc;
}

.navbar ul {
    display: flex;
    width: 100%;
    gap: 5%;
    justify-content: space-between;
    list-style: none;
    padding: 0 30vh;
}

.navbar a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.navbar a:hover {
    text-decoration: underline;
}

/* GALLERY (MAIN BODY) */
.gallery {
    display:flex;
    padding: 5%;
    flex: 1;
    flex-wrap: wrap;
    gap: 10vh;
    justify-content: space-between;
}

.painting {
    display: flex;
    flex: 1 1 calc(20% - 10px);
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.painting img {
    width: 20vh;
    height: auto;
}